/* Dropdown.css */

.dropdown-enter {
    transition: transform 900ms ease-out, opacity 900ms ease-out;
    transform: scaleY(1);
    opacity: 1;
  }
  
  .dropdown-exit {
    transition: transform 900ms ease-in, opacity 900ms ease-in;
    transform: scaleY(0.95);
    opacity: 0;
  }
  